SERVER_NAME=localhost
SELF_SIGNED_CERT=yes
MAINTAINER_EMAIL=me@example.com
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE_NAME=radarbase
MYSQL_DATABASE_USERNAME=radarbase-admin
MYSQL_DATABASE_PASSWORD=
WP_MYSQL_DIR=/usr/local/var/lib/docker/mysql
WORDPRESS_FILE_PATH=/usr/local/var/lib/docker/wordpress
